.col {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 100px;
}

h1 {
    margin-left: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
}


form {
    background-color: lightgrey;
    width: 500px;
    border: 15px solid black;
    padding: 50px;
    text-align: center;
    display: inline-block;
    margin-top: 50px;
}


h3{
    text-shadow: 4px 4px 4px #aaa;  
}

.containerProtfolio, .containerSocial, .contactForm {
    text-align: center;
}

.img-fluid {
    width:100%;
    opacity: 0.7;
    background: url(https://us.123rf.com/450wm/peshkov/peshkov1506/peshkov150600008/41023430-blank-black-diary-and-accessories.jpg?ver=6);
}

